$color1: #246de7;
$color2: #00284b;
$color3: #000000;
$color4: #92989e;
$color5: #f8f8f9;
$color6: #464e64;
$color7: #e7f0ff;
$color8: #f7fbff;
$color9: #999999;
$color10: #272b35;
$color11: #121416;
$color12: #1d2027;
$color13: #42454f;
$color14: #1453c0;
