::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar:horizontal {
  height: 5px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: $color1;
  border-radius: 1rem;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: #000;

  @extend %transitioned;
}

.section {
  padding-top: 110px;
  padding-bottom: 110px;
  padding-left: 3rem !important;
  padding-right: 3rem !important;

  @media screen and (max-width: 767px) {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (max-width: 575px) {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .page-container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  span {
    font-size: inherit;
  }
}

h5,
h6 {
  color: #000;
}

.dark-mode {
  h5,
  h6 {
    color: #fff;
  }
}

h1 {
  font-size: 60px;

  @media screen and (max-width: 991px) {
    font-size: 50px;
  }

  @media screen and (max-width: 767px) {
    font-size: 40px;
  }

  @media screen and (max-width: 575px) {
    font-size: 32px;
  }
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 23px;
}

h6 {
  font-size: 20px;
}

p {
  line-height: 1.75;
}

a {
  @extend %transitioned;

  &:hover {
    color: $color1;
  }
}

.btn {
  border-radius: 10px;
  background-color: transparent;
  border: none;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  .btn-text {
    font-weight: 600;
  }

  &.btn-primary {
    background-color: $color1;
    padding-left: 58px;
    padding-right: 58px;

    .btn-text {
      color: #fff !important;
    }

    &:hover {
      background-color: $color14;
    }
  }

  &.btn-transparent {
    padding-left: 58px;
    padding-right: 58px;
    border: 1px solid #fff;

    .btn-text {
      color: #fff !important;
    }

    &:hover {
      background-color: #fff;
      border-color: $color1;

      .btn-text {
        color: $color1 !important;
      }
    }
  }

  &.btn-primary-inverted {
    padding-left: 48px;
    padding-right: 48px;
    background-color: #fff;
    border: 1px solid transparent;

    .btn-text {
      color: $color1 !important;
    }

    &:hover {
      background-color: transparent;
      border-color: #fff;

      .btn-text {
        color: #fff !important;
      }
    }
  }

  &.btn-primary,
  &.btn-transparent,
  &.btn-primary-inverted {
    @media screen and (max-width: 575px) {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}

.fs-16 {
  font-size: 16px !important;
}

.text-light-1 {
  color: $color4 !important;
}

.text-light-2 {
  color: $color2 !important;
}

.text-primary-1 {
  color: $color1 !important;
}

.section-title {
  max-width: 682px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  h1 {
    color: $color2;
  }
}

.dark-mode {
  .section-title {
    h1,
    h4,
    p {
      color: #fff;
    }
  }
}

.custom-select-container {
  position: relative;
  border-radius: 10px;
  background-color: transparent;
  flex-shrink: 0;

  .selected-text {
    position: relative;
    padding: 11.5px 16px;
    padding-right: 40px;
    cursor: pointer;
    color: $color6;
    font-size: 16px;
    font-weight: 600;

    &.added {
      color: $color1;
      font-weight: 600;
    }

    &::after {
      content: url(../assets/vectors/chevron.svg);
      position: absolute;
      top: 50%;
      transform: translateY(calc(-50%));
      right: 16px;

      @extend %transitioned;
    }

    &.active {
      &::after {
        transform: translateY(calc(-50% - 2px)) rotateX(180deg);
      }
    }
  }

  & ul {
    margin: 0;
    padding: 0;
    text-align: left;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid $color5;

    input {
      color: $color1 !important;
      border-radius: 4px !important;
      width: calc(100% - 32px) !important;
      margin: 8px auto;
    }
  }

  .select-options {
    position: absolute;
    margin-top: 1px;
    width: 100%;
    border-radius: 4px;
    overflow-x: hidden;
    overflow-y: auto;
    left: 0;
    z-index: 1;
    max-height: 100px;
  }

  li {
    list-style-type: none;
    padding: 8px 20px;
    cursor: pointer;
    color: $color1 !important;
    font-size: 16px;
    border-bottom: 1px solid $color5;
    background: $color5;

    @extend %transitioned;
  }

  li:last-child {
    border-bottom: none;
  }

  li:hover {
    background: $color7;
  }

  .show-dropdown-options {
    min-height: 50px;
    opacity: 1;
    visibility: visible;
  }

  .hide-dropdown-options {
    min-height: 0;
    opacity: 0;
    visibility: hidden;
  }
}

input,
select,
textarea {
  outline: none;
}

.logo-img {
  @media screen and (max-width: 575px) {
    width: 90px;
  }
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $color10;
}

input:focus + .slider {
  box-shadow: 0 0 1px $color10;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch {
  .mode-night,
  .mode-night-2,
  .mode-day,
  .mode-day-2 {
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%) scale(0.8);
    z-index: 1;
    pointer-events: none;

    @extend %transitioned;
  }

  // .mode-day-2,
  .mode-night-2,
  .mode-night {
    left: unset;
    right: 7px;
  }

  input ~ .mode-day {
    opacity: 1;
  }

  input:checked ~ .mode-night,
  input:checked ~ .mode-day-2 {
    opacity: 0;
  }
}

.switch-2 {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: $color1;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px $color1;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
  }
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.search-container {
  position: absolute !important;
  width: calc(100% - 12px);
  max-width: 700px;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  height: 80px;
  border-radius: 14px;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 10px 30px;
  box-shadow: 2px 4px 23px 0px #0000001a;

  * {
    font-size: 20px;

    @media screen and (max-width: 575px) {
      font-size: 14px;
    }
  }

  input {
    flex-grow: 1;
    border: none;
    color: $color2 !important;
    padding: 0 12px;
    min-width: 20px;

    &::placeholder {
      color: $color9;
    }
  }

  .selected-text {
    color: $color1 !important;
    border-left: 1px solid $color9;

    &::after {
      content: url("../assets/vectors/chevron-blue.svg");
    }
  }

  .select-option {
    font-size: 14px;
    padding-left: 12px;
    padding-right: 12px;

    @media screen and (max-width: 575px) {
      font-size: 12px;
    }
  }
}

.text-orange {
  color: #ff9e0c !important;
}

span {
  font-size: inherit;
}

.accordion-wrap {
  .accordion-head {
    position: relative;
    padding: 0 20px;
    font-size: 22px;

    &::after {
      position: absolute;
      right: 16px;
      top: 50%;
      transform: translateY(-50%) rotate(-90deg);
      content: url("../assets/vectors/chevron.svg");

      @extend %transitioned;
    }

    &.active {
      &::after {
        transform: translateY(-50%);
      }
    }
  }

  .accordion-body {
    padding: 0 20px;
    overflow: hidden;
  }
}

.c-pointer {
  cursor: pointer;
}

.dark-mode {
  .accordion-wrap {
    .accordion-head {
      color: #fff;

      &::after {
        content: url("../assets/vectors/chevron-white.svg");
      }
    }

    .accordion-body {
      &,
      * {
        color: #fff;
      }
    }
  }
}
